@import "const";

$big-diameter: 72px;
$small-diameter: 54px;
$circle-border-color: $blue;
$circle-inner-color: $light-grey;

.addnew-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.addnew-main,
.addnew-wrapper li{
    position: fixed;
    background: $blue;
    z-index: 5;
    & a{
        outline: none;
    }
}
.addnew-main {
    width: $big-diameter;
    height: $big-diameter;
    -moz-border-radius: $big-diameter/2 + 1;
    -webkit-border-radius: $big-diameter/2 + 1;
    border-radius: $big-diameter/2 + 1;
    bottom: 25px;
    left: 25px;
    outline: none;
}

.addnew-wrapper {
    li {
        width: $small-diameter;
        height: $small-diameter;
        -moz-border-radius: $small-diameter/2 + 1;
        -webkit-border-radius: $small-diameter/2 + 1;
        border-radius: $small-diameter/2 + 1;
        list-style-type: none;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &.shown {
            opacity: 1;
            pointer-events: all;
        }
        &:first-child {
            bottom: 120px;
            left: 25px;
        }

        &:nth-child(2) {
            bottom: 100px;
            left: 100px;
        }

        &:last-child {
            bottom: 25px;
            left: 120px;
        }
    }
}
