$red				: #7f2c23;
$blue				: #0b2b3d;
$dark-grey			: #525448;
$grey				: #a19897;
$light-grey			: #cacfb4;
$google-font: 'PT Serif', serif;
$panel-font-size: 1em;
$panel-text-color-on-light: $dark-grey;
$panel-padding: 12.5%;
$panel-width: 400px;
$panel-input-height: 35px;
$panel-inner-padding: 10px;
$panel-text-color-on-dark: $light-grey;
$panel-input-selected: $blue;
$panel-input-not-selected: $light-grey;
$panel-button-color: $red;
$panel-button-color-hover: $blue;
$panel-input-full-width: 100%;
$panel-input-half-width: 175px;
$panel-textarea-height: 200px;
$panel-input-border-width: 2px;
$panel-input-border-radius: 5px;
$panel-input-border-color: $panel-input-not-selected;
$close-button-size: 30px;
$button-top-padding: 5px;
$photo-container-width: 314px;
