@import "const";

.modal-overlay,
.modal-dialog-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1300;
    text-align: center;

    &:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: '';
    }
}

.modal-window,
.modal-dialog-window {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    max-width: 80%;
    padding: 20px;
    vertical-align: middle;
    color: $blue;
    border: 5px solid #fff;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 5px 0px rgba(0,0,0,.4);

    .modal-button-container {
        margin: 20px 0 10px 0;
        //   padding: 10px;
    }

    .modal-button {
        display: inline-block;
        border: 5px solid #fff;
        border-radius: 10px;
        background-color: white;
        box-shadow: inset 0 0 5px 0px rgba(0,0,0,.4);
        padding: 10px;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $light-grey;
            box-shadow: none;
            background-color: $dark-grey;
            cursor: pointer;
        }

        &:first-child:hover {
            background-color: $red;
        }
    }
}

.modal-preloader-overlay {
    position: fixed;
    display: block;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1100;
    text-align: center;

    -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
    -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
    -o-transition: visibility 0s, opacity 0.5s ease-in-out;
    transition: visibility 0s, opacity 0.5s ease-in-out;

    &:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: '';
        clear: both;
    }
    
    &.shown{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    
}

.modal-preloader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
}

.modal-preloader-inner {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.modal-preloader {
    height: 28px;
    width: 28px;
    animation: loader 0.7s infinite linear;
    border: 5px solid $dark-grey;
    border-right-color: $light-grey;
    border-radius: 50%;
    display: inherit;
}
