@import "const";

#brickpanel {
    position: absolute;
    z-index: 1010;
    height: 100%;
    width: $panel-width;
    background-color: white;
    opacity: 0.92;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    font-size: $panel-font-size !important;
    font-family: $google-font;
    color: $panel-text-color-on-light;
    cursor: default;

    &.hidden {
        right: -$panel-width;
    }

    &.shown {
        right: 0px;
        overflow-y: auto;
    }

    label {
        margin-top: $panel-inner-padding;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1;
    }

    p {
        margin-top: $panel-inner-padding;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
    }

    input, textarea {
        padding: $panel-inner-padding;
    }

    input, textarea, select {
        border: $panel-input-border-width solid $panel-input-border-color;
        border-radius: $panel-input-border-radius;
        cursor: default;
        padding-left: $panel-inner-padding;
        outline: none;
        font-size: $panel-font-size !important;
        font-family: $google-font !important;
        color: $panel-input-selected;
    }

    /*textarea{
	      height: 38px;
    }
    
    .noscroll {
        overflow: hidden;
	  }

    .hidden-comment{
        display: none;
        border: $panel-input-border-width solid $panel-input-border-color;
	      white-space: pre-wrap;
	      width: $panel-input-half-width;
	      height: 38px;
	      font-size: $panel-font-size;
        font-family: $google-font;
        padding: $panel-inner-padding;
	      word-wrap: break-word;
    }*/

    .horiz-centered{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .star {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        display: inline-block;
        overflow: hidden;
        height: 30px;
        width: 34px;
        color: transparent;
        text-decoration: none;
        
        &.unselected {
            background-image: url("/Images/star-unselected.png");
        }

        &.selected {
            background-image: url("/Images/star-selected.png");
        }
    }

    #checkboxHasNumber{
        position: fixed;
        left: -9999px;
    }

    #lblForHasNumber {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        width: 25px;
        height: 25px;
        background: url("/Images/checkbox.png") 0 0 no-repeat;
        
        &.checked{
            background-position: -25px 0;
        }

    }

    .editing{

        input:hover, input:focus,
        textarea:hover, textarea:focus {
            border-color: $panel-input-selected;
            cursor: text;
        }
        select:hover{
            border-color: $panel-input-selected;
        }
        
        .star.unselected:hover {
           background-image: url("/Images/star-selected.png");
        }

        #lblForHasNumber {
            &:hover{
                background-position: -50px 0;
            }
            &.checked:hover{
                background-position: -75px 0;
            }
        }

        #delete-photo{
            display: block;
            color: yellow;
            z-index: 10000;
        }
    }
    
    #delete-photo{
        position: absolute;
        display: none;
    }

    #inputDate:disabled{
        background-color: transparent;
    }

    input.full {
        width: calc($panel-width - 2 * $panel-padding - 2 * $panel-inner-padding - 2 * $panel-input-border-width);
    }

    input.half, textarea.half {
        width: $panel-input-half-width;
        float: right;
    }

    input.third{
        width: 130px;
    }

    .depend-on-checkbox-has-number{
        &.hidden{
            opacity: 0;
            cursor:default !important;
        }
    }

    select {
        /*for WebKit*/
        -webkit-appearance: none;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        padding-right: 5px;
        /* for IE */
        -ms-appearance: none;
        appearance: none !important;
        /* Adding arrow */
        background-image: url("/Images/tre.png");
        background-position: right center;
        background-repeat: no-repeat;

        &:disabled{
            background-color: transparent;
        }
    }

    select::-ms-expand {
        display: none;
    }

    option {
        border-top: none;
        border-bottom: none;
        padding: $panel-inner-padding;
        outline: none;
        font-size: $panel-font-size !important;
        font-family: 'PT Serif', serif;
        color: $panel-input-selected;

        &:last-child {
            border-bottom-left-radius: $panel-input-border-radius;
            border-bottom-right-radius: $panel-input-border-radius;
        }
    }

    .panel-btn {
        margin-left: $panel-inner-padding;
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }

    .photo-container {
        display: inline-block;
        width: 100%;
        height: 204px;
        
        position: relative;
        overflow: hidden;

        &.hidden {
            display: none;
        }
    }

    .big-photo {
        width: auto;
        border: 0px;

        position: absolute;
        top: 0; 
        left: 0; 
        margin: 0;
        padding: 0;

        &.shown {
            display: block;
        }

        &.hidden {
            display: none;
        }
    }

    .align-center {
        width: 100%;
        text-align: center;
    }
    .uploader-alone {
        display: inline-block;
        border: $panel-input-border-width solid $blue;
        border-radius: $panel-input-border-radius;
        padding: $panel-inner-padding;
        outline: none;
        font-size: $panel-font-size !important;
        font-family: $google-font !important;
        background-color: white;
        color: $blue;

        &:hover {
            background-color: $blue;
            color: $panel-text-color-on-dark;
        }

        &.hidden {
            display: none;
        }
    }

    label.uploader-alone input[type="file"] {
        position: fixed;
        top: -1000px;
    }

    .in-panel{
        margin-left: $panel-padding;
        margin-top: $panel-inner-padding !important;
        margin-right: $panel-padding;
        &:first-child{
            margin-top: $panel-padding !important;
        }
        &:last-child{
            margin-bottom: $panel-padding;
        }
    }

}

#close_panel {
    position: absolute;
    float: right;
    right: 6.25%;
    top: 6.25%;
    cursor: pointer;
}

.panel-btn {
    background-color: $blue;
    opacity: 1;
    border: $panel-input-border-width solid $blue;
    border-radius: $panel-input-border-radius;
    padding: $button-top-padding $panel-inner-padding;
    text-decoration: none;

    &:hover {
        background-color: $red;
        border-color: $red;
    }

    span {
        color: $panel-text-color-on-dark;
    }
}

#brickpanel_common,
#brickpanel_new,
#brickpanel_edit {
    &.visible {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:380px) {
    #brickpanel {
        width: 100%;
    }
    .in-panel{
        margin-left: $panel-padding;
        margin-top: $panel-inner-padding !important;
        margin-right: $panel-padding;
        &:first-child{
            margin-top: $panel-padding !important;
        }
        &:last-child{
            margin-bottom: $panel-padding;
        }
    }
}

.photo-loader {
  height: 28px;
  width: 28px;
  animation: loader 0.7s infinite linear;
  border: 5px solid $dark-grey;
  border-right-color: $light-grey;
  border-radius: 50%;

  &.hidden{
      display: none;
  }

  &.shown{
      display: block;
  }
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
  100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.panelmodal-preloader-overlay {
    position: absolute;
    pointer-events: none;
    display: none;
    float: right;
    top: 0;
    right: 0;
    width: $panel-width;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1100;
    text-align: center;

    &:after {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: '';
        clear: both;
    }
}

.panelmodal-preloader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
}

.panelmodal-preloader-inner {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.panelmodal-preloader {
    height: 28px;
    width: 28px;
    animation: loader 0.7s infinite linear;
    border: 5px solid $dark-grey;
    border-right-color: $light-grey;
    border-radius: 50%;

    &.hidden {
        display: none;
    }

    &.shown {
        display: block;
    }
}
