/**
 * @package		PickMeUp - jQuery datepicker plugin
 * @author		Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author		Stefan Petre <www.eyecon.ro>
 * @copyright	Copyright (c) 2013-2015, Nazar Mokrynskyi
 * @copyright	Copyright (c) 2008-2009, Stefan Petre
 * @license		MIT License, see license.txt
 */
$border-radius						: .4em;
$background							: #cacfb4;
$color								: #0b2b3d;
$background-hover					: 'transparent';
$color-hover						: #88c5eb;
$nav-color							: $color;
$nav-color-hover					: $color-hover;
$not-in-month						: #666;
$not-in-month-hover					: #999;
$disabled							: #333;
$selected							: $color;
$selected-background				: #136a9f;
$not-in-month-selected-background	: #17384d;
$day-of-week						: $not-in-month-hover;
$today-background					: $not-in-month-selected-background;
$today-color						: $color-hover;

.pickmeup {
	background      : $background;
	border-radius   : $border-radius;
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
	display         : none;
	position        : absolute;

	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}

	.pmu-instance {
		display    : inline-block;
		height     : 13.8em;
		padding    : .5em;
		text-align : center;
		width      : 15em;

		.pmu-button {
			color           : $color;
			cursor          : pointer;
			outline         : none;
			text-decoration : none;
		}

		.pmu-today {
			background : $today-background;
			color      : $today-color;
		}

		.pmu-button:hover {
			background : $background-hover;
			color      : $color-hover;
		}

		.pmu-not-in-month {
			color : $not-in-month;
		}

		.pmu-disabled,
		.pmu-disabled:hover {
			color  : $disabled;
			cursor : default;
		}

		.pmu-selected {
			background : $selected-background;
			color      : $selected;
		}

		.pmu-not-in-month.pmu-selected {
			background : $not-in-month-selected-background;
		}

		nav {
			color       : $nav-color;
			display     : -ms-flexbox;
			display     : -webkit-flex;
			display     : flex;
			line-height : 2em;

			*:first-child :hover {
				color : $nav-color-hover;
			}

			.pmu-prev,
			.pmu-next {
				display : none;
				height  : 2em;
				width   : 1em;
			}
			.pmu-month {
				width : 14em;
			}
		}

		.pmu-years,
		.pmu-months {
			* {
				display     : inline-block;
				line-height : 3.6em;
				width       : 3.5em;
			}
		}

		.pmu-day-of-week {
			color  : $day-of-week;
			cursor : default;
		}

		.pmu-day-of-week,
		.pmu-days {
			* {
				display     : inline-block;
				line-height : 1.5em;
				width       : 2em;
			}
		}

		.pmu-day-of-week * {
			line-height : 1.8em;
		}
	}

	.pmu-instance:first-child .pmu-prev,
	.pmu-instance:last-child .pmu-next {
		display : block;
	}

	.pmu-instance:first-child,
	.pmu-instance:last-child {
		.pmu-month {
			width : 13em;
		}
	}

	.pmu-instance:first-child:last-child .pmu-month {
		width : 12em;
	}

	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display : none;
	}
}
