@import "const";

$btn-btm-margin: 5px;

.dialog-popup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $panel-font-size !important;
    font-family: $google-font;
    color: $panel-text-color-on-light;
    cursor: default;

    .panel-btn {
        text-align: center;
        margin-bottom: $btn-btm-margin;
        font-family: $google-font !important;

        &:last-child {
            margin-bottom: 0px;
        }
    }
    p {
        margin-top: 10px;
    }
    label {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1;
    }
    input {
        margin-left: $panel-inner-padding;
        padding: $panel-inner-padding;
        border: $panel-input-border-width solid $panel-input-border-color;
        border-radius: $panel-input-border-radius;
        padding-left: $panel-inner-padding;
        outline: none;
        font-size: $panel-font-size !important;
        font-family: $google-font !important;
        color: $panel-input-selected;
    }

    input:hover, input:focus {
        border-color: $panel-input-selected;
    }
    h3 {
        text-align: center;
    }
}
