@import "const";
*{
    padding: 0;
    margin: 0;
}
html, 
body, 
.height{
    height: 100%;
    margin: 0px 0px 0px 0px;
}
html, body{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
	  font-family: $google-font;
}
#main{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
#menu.hidden+#menu_switcher+ .height > .map{
    max-height: 100vh;
}
#map_container{
    flex-shrink: 3;
}
.map{
    top : 0;
    left: 0; 
    width: 100%; 
    height:100%;
    max-height: calc(100vh - 50px);
}
.leaflet-bar{
    min-width: 30px;
}
.leaflet-bar span{
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.regform{
    margin:20px 20px;
    overflow-y: auto !important;
}
.regtext{
    color: brown;
    width: 150px;
    padding: $panel-inner-padding;
    border: $panel-input-border-width solid $panel-input-border-color;
    border-radius: $panel-input-border-radius;
    padding-left: $panel-inner-padding;
    outline: none;
    font-size: $panel-font-size !important;
    font-family: $google-font !important;
    color: $panel-input-selected;
    &:hover, &:focus {
        border-color: $panel-input-selected;
    }
}
.reg-label {
    display: inline-block;
    width: 100px;
 }
.light-text{
    color: $panel-text-color-on-dark;
}
.reg-row{
    margin: $panel-inner-padding;
}
.visible{
    display:inline;
}
.invisible {
    display: none !important;
}
.error-main{
    color: red;
}
.pickmeup{
    z-index: 1015;
}
.brick-cluster{
  border-radius: 36px;
  box-shadow: 0 0 15px 15px $red inset;
  text-align: center;
  font-size: 16px;
  color: $light-grey;
  line-height: 34px;
  
}
@import "panel";
@import "popup";
@import "addnewmenu";
@import "modal_window";
@import "top_menu";
