﻿<%@ Page Title="BrickMap - Полезные ссылки" Language="C#" MasterPageFile="~/BrickMaster.Master" 
    AutoEventWireup="true" CodeBehind="Links.aspx.cs" Inherits="BrickMap.Links" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div id="links">
        <p><a href="http://www.v-smirnov.ru/">Кирпичи: клейма и коллекция</a>Описание</p>
        <p><a href="http://www.v-smirnov.ru/">Кирпичи: клейма и коллекция</a>Описание</p>
    </div>
</asp:Content>
