@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

html,
body,
.height {
  height: 100%;
  margin: 0px 0px 0px 0px; }

html, body {
  overflow-y: hidden;
  overflow-x: hidden; }

body {
  font-family: "PT Serif", serif; }

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

#menu.hidden + #menu_switcher + .height > .map {
  max-height: 100vh; }

#map_container {
  flex-shrink: 3; }

.map {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 50px); }

.leaflet-bar {
  min-width: 30px; }

.leaflet-bar span {
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px; }

.regform {
  margin: 20px 20px;
  overflow-y: auto !important; }

.regtext {
  color: brown;
  width: 150px;
  padding: 10px;
  border: 2px solid #cacfb4;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  font-size: 1em !important;
  font-family: "PT Serif", serif !important;
  color: #0b2b3d; }
  .regtext:hover, .regtext:focus {
    border-color: #0b2b3d; }

.reg-label {
  display: inline-block;
  width: 100px; }

.light-text {
  color: #cacfb4; }

.reg-row {
  margin: 10px; }

.visible {
  display: inline; }

.invisible {
  display: none !important; }

.error-main {
  color: red; }

.pickmeup {
  z-index: 1015; }

.brick-cluster {
  border-radius: 36px;
  box-shadow: 0 0 15px 15px #7f2c23 inset;
  text-align: center;
  font-size: 16px;
  color: #cacfb4;
  line-height: 34px; }

#brickpanel {
  position: absolute;
  z-index: 1010;
  height: 100%;
  width: 400px;
  background-color: white;
  opacity: 0.92;
  float: right;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 1em !important;
  font-family: "PT Serif", serif;
  color: #525448;
  cursor: default;
    /*textarea{
	      height: 38px;
    }
    
    .noscroll {
        overflow: hidden;
	  }

    .hidden-comment{
        display: none;
        border: $panel-input-border-width solid $panel-input-border-color;
	      white-space: pre-wrap;
	      width: $panel-input-half-width;
	      height: 38px;
	      font-size: $panel-font-size;
        font-family: $google-font;
        padding: $panel-inner-padding;
	      word-wrap: break-word;
    }*/ }
  #brickpanel.hidden {
    right: -400px; }
  #brickpanel.shown {
    right: 0px;
    overflow-y: auto; }
  #brickpanel label {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1; }
  #brickpanel p {
    margin-top: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between; }
  #brickpanel input, #brickpanel textarea {
    padding: 10px; }
  #brickpanel input, #brickpanel textarea, #brickpanel select {
    border: 2px solid #cacfb4;
    border-radius: 5px;
    cursor: default;
    padding-left: 10px;
    outline: none;
    font-size: 1em !important;
    font-family: "PT Serif", serif !important;
    color: #0b2b3d; }
  #brickpanel .horiz-centered {
    margin-left: auto !important;
    margin-right: auto !important; }
  #brickpanel .star {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    width: 34px;
    color: transparent;
    text-decoration: none; }
    #brickpanel .star.unselected {
      background-image: url("/Images/star-unselected.png"); }
    #brickpanel .star.selected {
      background-image: url("/Images/star-selected.png"); }
  #brickpanel #checkboxHasNumber {
    position: fixed;
    left: -9999px; }
  #brickpanel #lblForHasNumber {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    width: 25px;
    height: 25px;
    background: url("/Images/checkbox.png") 0 0 no-repeat; }
    #brickpanel #lblForHasNumber.checked {
      background-position: -25px 0; }
  #brickpanel .editing input:hover, #brickpanel .editing input:focus,
  #brickpanel .editing textarea:hover, #brickpanel .editing textarea:focus {
    border-color: #0b2b3d;
    cursor: text; }
  #brickpanel .editing select:hover {
    border-color: #0b2b3d; }
  #brickpanel .editing .star.unselected:hover {
    background-image: url("/Images/star-selected.png"); }
  #brickpanel .editing #lblForHasNumber:hover {
    background-position: -50px 0; }
  #brickpanel .editing #lblForHasNumber.checked:hover {
    background-position: -75px 0; }
  #brickpanel .editing #delete-photo {
    display: block;
    color: yellow;
    z-index: 10000; }
  #brickpanel #delete-photo {
    position: absolute;
    display: none; }
  #brickpanel #inputDate:disabled {
    background-color: transparent; }
  #brickpanel input.full {
    width: calc($panel-width - 2 * $panel-padding - 2 * $panel-inner-padding - 2 * $panel-input-border-width); }
  #brickpanel input.half, #brickpanel textarea.half {
    width: 175px;
    float: right; }
  #brickpanel input.third {
    width: 130px; }
  #brickpanel .depend-on-checkbox-has-number.hidden {
    opacity: 0;
    cursor: default !important; }
  #brickpanel select {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 5px;
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    /* Adding arrow */
    background-image: url("/Images/tre.png");
    background-position: right center;
    background-repeat: no-repeat; }
    #brickpanel select:disabled {
      background-color: transparent; }
  #brickpanel select::-ms-expand {
    display: none; }
  #brickpanel option {
    border-top: none;
    border-bottom: none;
    padding: 10px;
    outline: none;
    font-size: 1em !important;
    font-family: 'PT Serif', serif;
    color: #0b2b3d; }
    #brickpanel option:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  #brickpanel .panel-btn {
    margin-left: 10px; }
    #brickpanel .panel-btn:first-child {
      margin-left: 0px; }
    #brickpanel .panel-btn:last-child {
      margin-right: 0px; }
  #brickpanel .photo-container {
    display: inline-block;
    width: 100%;
    height: 204px;
    position: relative;
    overflow: hidden; }
    #brickpanel .photo-container.hidden {
      display: none; }
  #brickpanel .big-photo {
    width: auto;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; }
    #brickpanel .big-photo.shown {
      display: block; }
    #brickpanel .big-photo.hidden {
      display: none; }
  #brickpanel .align-center {
    width: 100%;
    text-align: center; }
  #brickpanel .uploader-alone {
    display: inline-block;
    border: 2px solid #0b2b3d;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 1em !important;
    font-family: "PT Serif", serif !important;
    background-color: white;
    color: #0b2b3d; }
    #brickpanel .uploader-alone:hover {
      background-color: #0b2b3d;
      color: #cacfb4; }
    #brickpanel .uploader-alone.hidden {
      display: none; }
  #brickpanel label.uploader-alone input[type="file"] {
    position: fixed;
    top: -1000px; }
  #brickpanel .in-panel {
    margin-left: 12.5%;
    margin-top: 10px !important;
    margin-right: 12.5%; }
    #brickpanel .in-panel:first-child {
      margin-top: 12.5% !important; }
    #brickpanel .in-panel:last-child {
      margin-bottom: 12.5%; }

#close_panel {
  position: absolute;
  float: right;
  right: 6.25%;
  top: 6.25%;
  cursor: pointer; }

.panel-btn {
  background-color: #0b2b3d;
  opacity: 1;
  border: 2px solid #0b2b3d;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none; }
  .panel-btn:hover {
    background-color: #7f2c23;
    border-color: #7f2c23; }
  .panel-btn span {
    color: #cacfb4; }

#brickpanel_common.visible,
#brickpanel_new.visible,
#brickpanel_edit.visible {
  display: flex;
  justify-content: space-around; }

@media screen and (max-width: 380px) {
  #brickpanel {
    width: 100%; }

  .in-panel {
    margin-left: 12.5%;
    margin-top: 10px !important;
    margin-right: 12.5%; }
    .in-panel:first-child {
      margin-top: 12.5% !important; }
    .in-panel:last-child {
      margin-bottom: 12.5%; } }
.photo-loader {
  height: 28px;
  width: 28px;
  animation: loader 0.7s infinite linear;
  border: 5px solid #525448;
  border-right-color: #cacfb4;
  border-radius: 50%; }
  .photo-loader.hidden {
    display: none; }
  .photo-loader.shown {
    display: block; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.panelmodal-preloader-overlay {
  position: absolute;
  pointer-events: none;
  display: none;
  float: right;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1100;
  text-align: center; }
  .panelmodal-preloader-overlay:after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
    clear: both; }

.panelmodal-preloader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center; }
  .panelmodal-preloader-container:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; }

.panelmodal-preloader-inner {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left; }

.panelmodal-preloader {
  height: 28px;
  width: 28px;
  animation: loader 0.7s infinite linear;
  border: 5px solid #525448;
  border-right-color: #cacfb4;
  border-radius: 50%; }
  .panelmodal-preloader.hidden {
    display: none; }
  .panelmodal-preloader.shown {
    display: block; }

.dialog-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em !important;
  font-family: "PT Serif", serif;
  color: #525448;
  cursor: default; }
  .dialog-popup .panel-btn {
    text-align: center;
    margin-bottom: 5px;
    font-family: "PT Serif", serif !important; }
    .dialog-popup .panel-btn:last-child {
      margin-bottom: 0px; }
  .dialog-popup p {
    margin-top: 10px; }
  .dialog-popup label {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1; }
  .dialog-popup input {
    margin-left: 10px;
    padding: 10px;
    border: 2px solid #cacfb4;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-size: 1em !important;
    font-family: "PT Serif", serif !important;
    color: #0b2b3d; }
  .dialog-popup input:hover, .dialog-popup input:focus {
    border-color: #0b2b3d; }
  .dialog-popup h3 {
    text-align: center; }

.addnew-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }

.addnew-main,
.addnew-wrapper li {
  position: fixed;
  background: #0b2b3d;
  z-index: 5; }
  .addnew-main a,
  .addnew-wrapper li a {
    outline: none; }

.addnew-main {
  width: 72px;
  height: 72px;
  -moz-border-radius: 37px;
  -webkit-border-radius: 37px;
  border-radius: 37px;
  bottom: 25px;
  left: 25px;
  outline: none; }

.addnew-wrapper li {
  width: 54px;
  height: 54px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  list-style-type: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .addnew-wrapper li.shown {
    opacity: 1;
    pointer-events: all; }
  .addnew-wrapper li:first-child {
    bottom: 120px;
    left: 25px; }
  .addnew-wrapper li:nth-child(2) {
    bottom: 100px;
    left: 100px; }
  .addnew-wrapper li:last-child {
    bottom: 25px;
    left: 120px; }

.modal-overlay,
.modal-dialog-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1300;
  text-align: center; }
  .modal-overlay:after,
  .modal-dialog-overlay:after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''; }

.modal-window,
.modal-dialog-window {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  max-width: 80%;
  padding: 20px;
  vertical-align: middle;
  color: #0b2b3d;
  border: 5px solid #fff;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4); }
  .modal-window .modal-button-container,
  .modal-dialog-window .modal-button-container {
    margin: 20px 0 10px 0; }
  .modal-window .modal-button,
  .modal-dialog-window .modal-button {
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-right: 20px; }
    .modal-window .modal-button:last-child,
    .modal-dialog-window .modal-button:last-child {
      margin-right: 0; }
    .modal-window .modal-button:hover,
    .modal-dialog-window .modal-button:hover {
      color: #cacfb4;
      box-shadow: none;
      background-color: #525448;
      cursor: pointer; }
    .modal-window .modal-button:first-child:hover,
    .modal-dialog-window .modal-button:first-child:hover {
      background-color: #7f2c23; }

.modal-preloader-overlay {
  position: fixed;
  display: block;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1100;
  text-align: center;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out; }
  .modal-preloader-overlay:after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
    clear: both; }
  .modal-preloader-overlay.shown {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }

.modal-preloader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center; }
  .modal-preloader-container:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; }

.modal-preloader-inner {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left; }

.modal-preloader {
  height: 28px;
  width: 28px;
  animation: loader 0.7s infinite linear;
  border: 5px solid #525448;
  border-right-color: #cacfb4;
  border-radius: 50%;
  display: inherit; }

/*320px, 480px, 600px, 768px, 900px, 1200px*/
#menu.shown {
  display: block;
  height: 50px;
  background-color: #0b2b3d;
  z-index: 1200;
  flex-shrink: 0; }

#menu.hidden {
  display: none; }

.menu-sandwich {
  display: none; }

.menu-right {
  float: right;
  right: 5px;
  margin-right: 7px; }

#menu_switcher {
  position: absolute;
  right: 5px;
  z-index: 1020;
  cursor: pointer; }
  #menu_switcher.hidden {
    top: 0px; }

.top_logintext {
  width: 120px;
  margin-top: 1em; }

.top-checkbox {
  margin-top: 0.9em; }

a.menu-item {
  font-size: 1em;
  line-height: 2.9;
  font-weight: 500;
  text-decoration: none;
  color: #cacfb4;
  padding: 0px 7px 0px 7px; }
  a.menu-item.title {
    font-size: 1.25em;
    line-height: 1.9;
    font-weight: 800;
    text-decoration: none; }

a.menu-item:hover {
  color: #a19897; }

a.menu-item:hover:hover {
  outline: none; }

input.menu-item,
.top-checkbox > input {
  border: 1px solid #0b2b3d; }

input.menu-item,
.logo {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

@media screen and (max-width: 600px) {
  .menu-sandwich {
    display: inline-block;
    float: right; }

  .top-menu-chapter {
    display: -webkit-box;
    /* ёЄрЁ√щ ёшэЄръёшё Ч iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* ёЄрЁ√щ ёшэЄръёшё Ч Firefox 19- (эх урЁрэЄшЁютрээю, эю т сюы№°шэёЄтх ёыєўрхт ЁрсюЄрхЄ) */
    display: -ms-flexbox;
    /* яЁюьхцєЄюўэ√щ ёшэЄръёшё Ч IE 10 */
    display: -webkit-flex;
    /* эют√щ ёшэЄръёшё Ч Chrome */
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1200;
    background-color: #0b2b3d;
    width: 200px;
    float: right;
    right: 0px; }

  .visible {
    display: flex; }
    .visible span {
      background-color: #0b2b3d; }

  .top-checkbox {
    margin-top: 0px; }

  input.menu-item {
    display: none; }
    input.menu-item.menu-right-shown {
      display: block;
      z-index: 120; }

  .menu-right {
    display: none; }
    .menu-right.menu-right-shown {
      display: block;
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      width: 100%;
      /* For old syntax, otherwise collapses. */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      z-index: 1200;
      background-color: #0b2b3d;
      margin-right: 0px; }

  input.menu-item,
  .top-checkbox > input {
    background-color: white !important;
    margin: 10px auto !important; }

  .top-validator.top-validator-hidden {
    display: none !important; } }

/*# sourceMappingURL=styles.css.map */
