html,
body,
.height {
  height: 100%;
  margin: 0px 0px 0px 0px; }

html, body {
  overflow-y: hidden;
  overflow-x: hidden; }

body {
  font-family: 'PT Serif', serif; }

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

#menu.shown {
  display: block;
  height: 50px;
  background-color: #0b2b3d;
  flex-shrink: 0; }

#menu.hidden {
  display: none; }

#menu.hidden + #menu_switcher + .height > .map {
  max-height: 100vh; }

#map_container {
  flex-shrink: 3; }

.menu-right {
  float: right;
  right: 5px;
  margin-right: 7px; }

.map {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 50px); }

.leaflet-bar {
  min-width: 30px; }

.leaflet-bar span {
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px; }

#menu_switcher {
  position: absolute;
  right: 5px;
  z-index: 100; }

.title {
  font: 20px/2.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-decoration: none;
  padding: 0px 7px 0px 7px; }

.regform {
  margin: 10px 10px 10px 10px; }

.regtext {
  color: brown;
  width: 150px; }

.visible {
  display: inline; }

.invisible {
  display: none; }

.top_logintext {
  width: 120px; }

.error-main {
  color: red; }

a.menu-item {
  font: 16px/2.9 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #cacfb4;
  padding: 0px 7px 0px 7px; }

a.menu-item:hover {
  color: #a19897; }

input.menu-item,
span.menu-item {
  margin-top: 12px; }

.logo {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

.pickmeup {
  z-index: 10; }

#brickpanel {
  position: absolute;
  z-index: 8;
  height: 100%;
  width: 300px;
  background-color: white;
  opacity: 0.9;
  float: right;
  overflow: hidden;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 50px;
  font-size: 10pt;
  color: #525448; }
  #brickpanel.hidden {
    right: -400px; }
  #brickpanel.shown {
    right: 0px;
    overflow-y: auto; }
  #brickpanel label {
    margin-top: 10px; }
  #brickpanel p {
    margin-top: 10px;
    vertical-align: central; }
  #brickpanel input, #brickpanel textarea {
    border: 2px solid #cacfb4;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    font-size: 10pt;
    font-family: 'PT Serif', serif; }
  #brickpanel input:hover, #brickpanel input:focus {
    border-color: #0b2b3d; }
  #brickpanel input.full {
    width: 276px; }
  #brickpanel input.half {
    width: 175px;
    float: right; }

#close_panel {
  position: absolute;
  float: right;
  right: 25px;
  top: 45px; }

.panel-btn {
  background-color: #0b2b3d;
  border: 2px solid #0b2b3d;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none; }
  .panel-btn:hover {
    background-color: #7f2c23;
    border-color: #7f2c23; }
  .panel-btn:first-child {
    margin-left: 0px; }
  .panel-btn:last-child {
    margin-right: 0px; }
  .panel-btn span {
    color: #cacfb4; }

#brickpanel_common.visible,
#brickpanel_new.visible,
#brickpanel_edit.visible {
  width: 100%;
  display: flex;
  justify-content: space-around; }

/*# sourceMappingURL=styles.css.map */
